.row{
    margin-left: 20px;
}

.row_posters{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding:20px;
}

.row_poster::-webkit-scrollbar{
    display:none;
    /*hides the scroll bar, but keeps the funcitonality*/
}

.row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;

}

.row_poster:hover{
    transform: scale(1.08);
}

/*netflix orignal one, gets the larger styling*/
.row_posterLarge {
    max-height: 250px;
}

.row_posterLarge:hover{
    transform:scale(1.09);
}